<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="DBTipo" value="SqlServer"/>
	</appSettings>
	<connectionStrings>
		<add name="SqlServer" 
			 connectionString="SERVER=DESKTOP-JEQTB22; initial catalog = SGRP; trusted_connection = true;"/>
		<add name="Postgres"
			 connectionString="Host=localhost;Database=SGPR;Username=postgres;Password=nalinmar15;"/>
		<add name="Memoria"
			 connectionString="SGA_DBMemoria"/>
	</connectionStrings>
</configuration>